.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
  font-size: 18px;
  line-height: normal;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.header__menu {
  align-self: center;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.header__link_active {
  text-decoration: none;
}

.header__address {
  justify-self: end;
}

.address {
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.header__address a {
  border-bottom: 1px solid;
  text-decoration: none;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 757px;
  padding: 165px 50px 50px;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  width: 100%;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 118px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  padding: 12px, 32px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  transition: background-color 0.5s;
  cursor: pointer;
}

.bet-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.lots {
  margin: 180px 24px 120px;
}

.lots__heading {
  margin-bottom: 27px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  margin-bottom: 53px;
  list-style: none;
}

.lots__card-list-item {
  flex: 1 1 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  color: #FFF;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  display: inline-block;
  margin-left: 40px;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  color: #000;
  font-size: 20px;
  text-decoration: none;
  transition: opacity 0.5s;
}

.lots__look-more-link:hover {
  opacity: 0.5;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  margin: 120px 24px 0;
  padding-top: 0 50px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__column:first-child {
  justify-content: start;
  align-items: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 50%;
  padding: 35px 0;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin-top: 136px;
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  height: 180px;
  margin-top: 180px;
  padding: 0 50px;
  font-weight: 400;
  font-size: 18px;
}

.footer__address {
  justify-self: start;
  max-width: 236px;
  font-style: normal;
  line-height: 1.35;
}

.footer__address a {
  border-bottom: 1px solid currentColor;
  padding-bottom: 1px;
  text-decoration: none;
}

.footer__menu {
  justify-self: center;
  align-self: start;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s;
}

.footer__social-link:hover {
  opacity: 0.5;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}